// ::::::::::::::::::::::::::::::::::::::::::
// ::::::::::::::::::::::::::::::::::::::::::
// ------------------------------------------
// BRANDS, SOCIAL NETWORKS & LINKS
// ------------------------------------------
// ::::::::::::::::::::::::::::::::::::::::::
// ::::::::::::::::::::::::::::::::::::::::::

// ---------------------------------------
// DEFINE: social network colors
// ---------------------------------------
$behance-color:           #1769ff;
$dribbble-color:          #ee6095;
$delicious-color:         #222222;
$deviantart-color:        #9eb1a3;
$facebook-color:          #4760a2;
$flickr-color:            #ff0084;
$google_plus-color:       #d6492f;
$github-color:            #333;
$hn-color:                #ff6600;
$instagram-color:         #517fa6;
$lastfm-color:            #c3000d;
$linkedin-color:          #007ab9;
$pinterest-color:         #c9232d;
$reddit-color:            #5f99cf;
$skype-color:             #00aff0;
$slack-color:             #db0051;
$soundcloud-color:        #f30;
$spotify-color:           #7ab800;
$stumbleupon-color:       #eb4924;
$tumblr-color:            #35465c;
$twitter-color:           #3c8fc9;
$vimeo-color:             #162221;
$wordpress-color:         #1e8cbe;
$youtube-color:           #e52d27;
$yahoo-color:             #400191;
$yelp-color:              #af0606;